#crossword {
    .content__head {
        padding-top: 0 !important;
        float: right;
        max-width: 300px !important;
        text-align: right;
        // Gutter between head and crossword grid
        margin-left: 1em !important;
    }

    .content__headline {
        font-size: 22px;
        margin-bottom: 0 !important;
        line-height: initial !important;
    }

    .content__main,
    .content__main * {
        background-color: transparent !important;
    }

    &.content--article:before {
        // Hide the logo unless we're sure we can resize it.
        display: none;
    }

    // If we can resize the logo, show it. We could use "@support not", but
    // ironically browsers don't widely support it.
    @supports (zoom: 100%) {
        .content__head {
            margin-top: $logoHeight * .5 !important;
        }

        &.content--article:before {
            display: block;
            zoom: 50%;
            width: $logoWidth * .5 !important;
            height: $logoHeight * .5 !important;
        }
    }
}

.crossword__cell {
    width: 31px !important;
    height: 31px !important;
    fill: #ffffff;
}

.crossword__container {
    clear: none;
}

.crossword__container__game {
    // Clearfix
    overflow: hidden;
    width: auto !important;
}

.crossword__container__grid-wrapper {
    width: 9.75cm !important;
    height: 9.75cm !important;
    margin-bottom: .1cm !important;
}

.crossword__grid,
.crossword__grid-background {
    -webkit-print-color-adjust: exact; // allow background colour printing
}

.crossword__grid {
    background-color: #8f8f8f !important;
}

.crossword__grid__separators rect,
.crossword__grid-background {
    fill: #7c7c7c !important;
}

.crossword__sticky-clue-wrapper,
.crossword__controls,
.crossword__hidden-input-wrapper {
    display: none;
}

.crossword__cell-number {
    font-size: 10px;
}

.crossword__clues {
    font-size: 11px;
}

.crossword__clue {
    // Clearfix
    overflow: hidden;
    margin-bottom: .08cm !important;
}

.crossword__clues--across,
.crossword__clues--down {
    float: left;
    width: 49% !important;
}

.crossword__clues--across {
    margin-right: 2% !important;
}

.crossword__clues-list {
    list-style: none;
}

.crossword__clues-header {
    font-size: 13px !important;
    font-weight: bold;
}

.crossword__clue__number,
.crossword__clue__text {
    display: table-cell !important;
    width: auto !important;
}

.crossword__clue__number {
    width: 25px !important;
}

.crossword__links {
    display: none;
}

.crossword__instructions {
    font-size: 13px;
    text-align: left;
}
